---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import astropodConfig from "../../.astropod/astropod.config.json";
import { ViewTransitions, fade } from "astro:transitions";

const {
  image,
  title = astropodConfig.name,
  description = astropodConfig.description
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme={astropodConfig.theme}>
  <head>
    <BaseHead title={title} description={description} image={image} />
    <ViewTransitions />
  </head>
  <body
    class="bg-[#F3F6F6] min-h-screen"
    transition:animate={fade({ duration: "0.5s" })}
  >
    <div class="container mx-auto lg:max-w-[1024px]">
      <div class="md:flex md:justify-center w-full">
        <main class="-mt-5 w-full">
          <slot />
        </main>
      </div>
      <Footer />
    </div>
  </body>
</html>
